
body{
	margin: 0;
	background-color: #f1f1f1;
}
header{
	background-color: green;
	padding: 20px;
	text-align: center;
	color: white;
	font-family: "Comic Sans Ms";
}

nav{

	overflow: hidden;
	background-color: #333;
}
nav a{
	float: left;
	color: #fff;
	padding: 14px 16px;
	text-decoration: none;
}
nav a:hover{
	background-color: black;
	color:white;
}
.row{
	display:flex;
	flex-direction:row;	
	padding: 10px;
	width: 	100%;

}
.column.side{
	flex:1;
	width: 	22%;

}
.column.middel{
	flex:2;
width:50%;
}

footer{
	clear: both;
	text-align: center;
	background-color: green;
	padding: 20px;
	color: white;
	font-family: "Comic Sans Ms";
}